
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container">
    <h2>Striped Rows</h2>
    <p>The .table-striped class adds zebra-stripes to a table:</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>بزگسال</th>
                <th>کودک</th>
                <th>نوزاد</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>

        </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
        </tbody>
    </table>
</div>
